<a href="https://colab.research.google.com/github/Ricardoarteaga24/InteligenciaArtificial_8vo/blob/main/Inteligencia_Artificial__1_23_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# prompt: consultar la version de python

import sys
sys.version

'3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]'

In [10]:
numero=10
tmp1="Ricardo Arteaga"
print(numero)
print(f"Mi nombre es {tmp1}")
print(numero+10)
print(numero-10)
print(numero*10)
print(numero/10)
print(numero%10)
print(numero**2)
# otra forma de realizar operaciones
numero*=2
print(numero)
#funciones de ver que tipo de variables tenemos
print(type(numero))
print(type(tmp1))

10
Mi nombre es Ricardo Arteaga
20
0
100
1.0
0
100
20
<class 'int'>
<class 'str'>

Boleanos

In [13]:
#boleanos
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t!=f)

<class 'bool'>
False
True
False
True

cadena de caracteres

In [19]:
aux1="Hola"
aux2="Mundo"
aux3= "RICARDO"
print(aux1+aux2)
print(aux1*2)
print(aux1.capitalize())
print(aux1.upper())
print(aux3.lower())
# print(aux1.replace("H","J"

HolaMundo
HolaHola
Hola
HOLA
ricardo

Contenedores

In [26]:
# Lista
aux2=list()
aux2.append(10)
aux2.append("Ricardo")
aux2.append(True)
print(aux2)
#Extraer elemento
print(aux2[1])
#Extraer ultimo elemento
print(aux2[-1])
#cambiar dato

aux2[1]="Arteaga"
print(aux2)

#otra forma de crear lista
aux3=[1,2,3,'Victor',True,False]
print(aux3)
aux3.pop()
print(aux3)

[10, 'Ricardo', True]
Ricardo
True
[10, 'Arteaga', True]
[1, 2, 3, 'Victor', True, False]
[1, 2, 3, 'Victor', True]

rango de listas

In [28]:
tmp1=list(range(100))
for x in tmp1:
    print(f"el valor es",x)

el valor es 0
el valor es 1
el valor es 2
el valor es 3
el valor es 4
el valor es 5
el valor es 6
el valor es 7
el valor es 8
el valor es 9
el valor es 10
el valor es 11
el valor es 12
el valor es 13
el valor es 14
el valor es 15
el valor es 16
el valor es 17
el valor es 18
el valor es 19
el valor es 20
el valor es 21
el valor es 22
el valor es 23
el valor es 24
el valor es 25
el valor es 26
el valor es 27
el valor es 28
el valor es 29
el valor es 30
el valor es 31
el valor es 32
el valor es 33
el valor es 34
el valor es 35
el valor es 36
el valor es 37
el valor es 38
el valor es 39
el valor es 40
el valor es 41
el valor es 42
el valor es 43
el valor es 44
el valor es 45
el valor es 46
el valor es 47
el valor es 48
el valor es 49
el valor es 50
el valor es 51
el valor es 52
el valor es 53
el valor es 54
el valor es 55
el valor es 56
el valor es 57
el valor es 58
el valor es 59
el valor es 60
el valor es 61
el valor es 62
el valor es 63
el valor es 64
el valor es 65
el valor es 66
el valor es 67
el valor es 68
el valor es 69
el valor es 70
el valor es 71
el valor es 72
el valor es 73
el valor es 74
el valor es 75
el valor es 76
el valor es 77
el valor es 78
el valor es 79
el valor es 80
el valor es 81
el valor es 82
el valor es 83
el valor es 84
el valor es 85
el valor es 86
el valor es 87
el valor es 88
el valor es 89
el valor es 90
el valor es 91
el valor es 92
el valor es 93
el valor es 94
el valor es 95
el valor es 96
el valor es 97
el valor es 98
el valor es 99